.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  font-family: Arial, sans-serif;
  word-break: break-all;
  color: #1a1a1a;

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 1rem;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    color: white;
    text-align: center;

    .card-container {
      padding: 1rem;

      .most-stars {
        color:#f7de3a;
      }

      .least-stars {
        color: #e31c3d;
      }

      .card-label {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        letter-spacing: 2px;
      }

      .card-description {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        transition: all .2s ease-in-out;
      }
    }

    &.card:hover {
      transform: scale(1.05);
    }
  }
}